
.input-search {
    position: relative;
}

.input-search-icon-search {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    color: var(--sixth-color);
}

.input-search-icon-search:hover {
    color: var(--primary-color);
} 

input {
    width: 280px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 1em;
    content: 'ola';
}

@media (min-width: 480px) {
    input {
        width: 420px;
    }
}

@media (min-width: 768px) {
    input {
        width: 720px;
    }
}
